In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
traffic_data = pd.read_excel('ny flow data.xlsx')

In [4]:
traffic_data.head()

,Unnamed: 0,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,...,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,Start Intersection,End Intersection,Lat Start,Lng Start,Lat End,Lng End,distance
0,0,2,70376,3 Avenue,East 154 Street,East 155 Street,NB,09/13/2014,204.0,177.0,...,328,282,240,3 Avenue East 154 Street,3 Avenue East 155 Street,40.818951,-73.914039,40.819544,-73.913528,0.048887
1,1,2,70376,3 Avenue,East 155 Street,East 154 Street,SB,09/13/2014,140.0,51.0,...,247,237,191,3 Avenue East 155 Street,3 Avenue East 154 Street,40.819544,-73.913528,40.818951,-73.914039,0.048887
2,2,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,EB,09/13/2014,94.0,73.0,...,183,147,103,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,-73.888070,40.871298,-73.887010,0.081017
3,3,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,WB,09/13/2014,88.0,82.0,...,162,157,103,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,-73.888070,40.871298,-73.887010,0.081017
4,4,62,147673,Broadway,West 242 Street,240 Street,SB,09/13/2014,255.0,209.0,...,465,425,324,Broadway West 242 Street,Broadway 240 Street,40.889463,-73.898357,40.886528,-73.899683,0.214140

In [5]:
traffic_data['Segment Address']=traffic_data.apply(lambda x: x['Roadway Name'] + '-' + x['From'] + '-' + x['To'], axis = 1)

In [6]:
traffic_data.columns

Index(['Unnamed: 0', 'ID', 'Segment ID', 'Roadway Name', 'From', 'To',
       'Direction', 'Date', '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM', 'Start Intersection', 'End Intersection', 'Lat Start',
       'Lng Start', 'Lat End', 'Lng End', 'distance', 'Segment Address'],
      dtype='object')

In [7]:
columns_to_keep = ['ID', 'Segment ID', 'Roadway Name', 'From', 'To', 'Date', 'Start Intersection', 
                   'End Intersection', 'Lat Start', 'Lng Start', 'Lat End', 'Lng End', 'distance', 'Segment Address']

columns_to_average = ['12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM', '4:00-5:00AM', 
                      '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', 
                      '10:00-11:00AM', '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
                      '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM', 
                      '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']

In [8]:
traffic_data_out = traffic_data.groupby(by='Segment Address')[columns_to_average].mean()

In [9]:
traffic_data_out.reset_index(inplace = True)

In [10]:
traffic_data_out[columns_to_keep] = traffic_data[columns_to_keep]

In [11]:
traffic_data_out['Center Lat'] = traffic_data_out[['Lat Start','Lat End']].mean(axis=1)
traffic_data_out['Center Lng'] = traffic_data_out[['Lng Start','Lng End']].mean(axis=1)

In [12]:
traffic_data_out.head()

,Segment Address,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,3:00-4:00AM,4:00-5:00AM,5:00-6:00AM,6:00-7:00AM,7:00-8:00AM,8:00-9:00AM,...,Date,Start Intersection,End Intersection,Lat Start,Lng Start,Lat End,Lng End,distance,Center Lat,Center Lng
0,3 Avenue-East 154 Street-East 155 Street,979.111111,726.777778,532.222222,443.444444,453.000000,688.333333,823.777778,1053.222222,1114.444444,...,09/13/2014,3 Avenue East 154 Street,3 Avenue East 155 Street,40.818951,-73.914039,40.819544,-73.913528,0.048887,40.819247,-73.913783
1,3 Avenue-East 155 Street-East 154 Street,679.000000,592.333333,534.666667,409.000000,320.666667,317.111111,414.888889,501.333333,524.777778,...,09/13/2014,3 Avenue East 155 Street,3 Avenue East 154 Street,40.819544,-73.913528,40.818951,-73.914039,0.048887,40.819247,-73.913783
2,Bedford Park Boulevard-Grand Concourse-Valenti...,867.000000,621.777778,483.000000,402.333333,458.888889,524.777778,717.222222,1246.444444,1376.777778,...,09/13/2014,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,-73.888070,40.871298,-73.887010,0.081017,40.871725,-73.887540
3,Bedford Park Boulevard-Grand Concourse-Valenti...,1331.555556,1061.555556,861.000000,670.888889,565.333333,578.444444,978.444444,1455.000000,1470.222222,...,09/13/2014,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,-73.888070,40.871298,-73.887010,0.081017,40.871725,-73.887540
4,Broadway-West 242 Street-240 Street,965.666667,815.777778,620.888889,508.444444,568.111111,725.111111,1209.666667,1415.888889,1435.666667,...,09/13/2014,Broadway West 242 Street,Broadway 240 Street,40.889463,-73.898357,40.886528,-73.899683,0.214140,40.887996,-73.899020

In [13]:
rows_with_nan = traffic_data_out.isnull().any(axis =1)
traffic_data_out = traffic_data_out[~rows_with_nan]

In [14]:
accident_data = pd.read_csv('NY_Accidents_June20.csv')

In [15]:
accident_data.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),...,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,acc_year,acc_month,acc_hr_day,new_date,day_name
0,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,False,Day,Day,Day,Day,2016,12,8,2016-12-01,Thursday
1,194420,A-194422,MapQuest,241.0,3,2016-12-01 08:49:35,2016-12-01 09:19:14,40.849579,-73.942314,1.13,...,False,Day,Day,Day,Day,2016,12,8,2016-12-01,Thursday
2,194473,A-194475,MapQuest,245.0,2,2016-12-01 12:08:26,2016-12-01 12:37:55,40.748028,-73.968170,0.01,...,False,Day,Day,Day,Day,2016,12,12,2016-12-01,Thursday
3,194538,A-194540,MapQuest,201.0,2,2016-12-02 05:19:11,2016-12-02 05:49:02,40.761723,-73.982803,0.01,...,False,Night,Night,Night,Night,2016,12,5,2016-12-02,Friday
4,194556,A-194558,MapQuest-Bing,241.0,2,2016-12-02 07:09:04,2016-12-02 07:38:36,40.782818,-73.943871,0.01,...,False,Day,Day,Day,Day,2016,12,7,2016-12-02,Friday

In [16]:
from scipy import spatial

In [17]:
def find_closest_node(accident_row, df):
    '''
    accident_row is one row containing accident data with ID, Start_Lat and Start_Lng
    df is the dataframe containing traffic flow with Center Lat and Center Lng
    df schema:
    - Segment Address
    - Center Lat
    - Center Lng
    '''
    
    df_coordinates = df[['Center Lat', 'Center Lng']]
    
    node_tree = spatial.KDTree(df_coordinates)

    distance_to_nearest_node, nearest_node_index = node_tree.query(node_row[['Start_Lat', 'Start_Lng']])
    nearest_node_ID = df.iloc[nearest_node_index][0]

    return nearest_node_ID, distance_to_nearest_node

In [18]:
column_name = ['ID','Start_Lat','Start_Lng']

nearest_id = []
nearest_id_distance = []

for row in accident_data.iterrows():
    node_row = row[1].get(column_name)
    flow_id, distance_to_grid_node = find_closest_node(node_row, traffic_data_out)
    nearest_id.append(flow_id)
    nearest_id_distance.append(distance_to_grid_node)

In [21]:
accident_data['Traffic Flow ID']=nearest_id
accident_data['Distance to Traffic Flow']=nearest_id_distance

In [22]:
accident_data.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),...,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,acc_year,acc_month,acc_hr_day,new_date,day_name,Traffic Flow ID,Distance to Traffic Flow
0,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,Day,Day,Day,2016,12,8,2016-12-01,Thursday,79 Street Transverse-5 Avenue-East Drive,0.011682
1,194420,A-194422,MapQuest,241.0,3,2016-12-01 08:49:35,2016-12-01 09:19:14,40.849579,-73.942314,1.13,...,Day,Day,Day,2016,12,8,2016-12-01,Thursday,Wadsworth Avenue-West 176 Street-West 175 Street,0.005776
2,194473,A-194475,MapQuest,245.0,2,2016-12-01 12:08:26,2016-12-01 12:37:55,40.748028,-73.968170,0.01,...,Day,Day,Day,2016,12,12,2016-12-01,Thursday,BQE-59 Place-59 Street,0.007049
3,194538,A-194540,MapQuest,201.0,2,2016-12-02 05:19:11,2016-12-02 05:49:02,40.761723,-73.982803,0.01,...,Night,Night,Night,2016,12,5,2016-12-02,Friday,BQE-59 Place-59 Street,0.014843
4,194556,A-194558,MapQuest-Bing,241.0,2,2016-12-02 07:09:04,2016-12-02 07:38:36,40.782818,-73.943871,0.01,...,Day,Day,Day,2016,12,7,2016-12-02,Friday,Park Avenue-East 99 Street-East 100 Street,0.009235

In [25]:
traffic_out = accident_data.merge(traffic_data_out, how = 'left', left_on = 'Traffic Flow ID', right_on = 'Segment Address')

In [26]:
traffic_out.head()

,Unnamed: 0,ID_x,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),...,Date,Start Intersection,End Intersection,Lat Start,Lng Start,Lat End,Lng End,distance,Center Lat,Center Lng
0,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,09/20/2014,79 Street Transverse 5 Avenue,79 Street Transverse East Drive,40.777025,-73.963712,40.778869,-73.968402,0.276983,40.777947,-73.966057
1,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,09/20/2014,79 Street Transverse 5 Avenue,79 Street Transverse East Drive,40.777025,-73.963712,40.778869,-73.968402,0.276983,40.777947,-73.966057
2,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,09/21/2014,79 Street Transverse 5 Avenue,79 Street Transverse East Drive,40.777025,-73.963712,40.778869,-73.968402,0.276983,40.777947,-73.966057
3,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,09/21/2014,79 Street Transverse 5 Avenue,79 Street Transverse East Drive,40.777025,-73.963712,40.778869,-73.968402,0.276983,40.777947,-73.966057
4,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,09/22/2014,79 Street Transverse 5 Avenue,79 Street Transverse East Drive,40.777025,-73.963712,40.778869,-73.968402,0.276983,40.777947,-73.966057

In [27]:
traffic_out.to_excel('traffic_out.xlsx')