In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
traffic_data = pd.read_excel('ny flow data.xlsx')

In [4]:
traffic_data.head()

,Unnamed: 0,ID,Segment ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,...,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,Start Intersection,End Intersection,Lat Start,Lng Start,Lat End,Lng End,distance
0,0,2,70376,3 Avenue,East 154 Street,East 155 Street,NB,09/13/2014,204.0,177.0,...,328,282,240,3 Avenue East 154 Street,3 Avenue East 155 Street,40.818951,-73.914039,40.819544,-73.913528,0.048887
1,1,2,70376,3 Avenue,East 155 Street,East 154 Street,SB,09/13/2014,140.0,51.0,...,247,237,191,3 Avenue East 155 Street,3 Avenue East 154 Street,40.819544,-73.913528,40.818951,-73.914039,0.048887
2,2,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,EB,09/13/2014,94.0,73.0,...,183,147,103,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,-73.888070,40.871298,-73.887010,0.081017
3,3,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,WB,09/13/2014,88.0,82.0,...,162,157,103,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,-73.888070,40.871298,-73.887010,0.081017
4,4,62,147673,Broadway,West 242 Street,240 Street,SB,09/13/2014,255.0,209.0,...,465,425,324,Broadway West 242 Street,Broadway 240 Street,40.889463,-73.898357,40.886528,-73.899683,0.214140

In [5]:
traffic_data['Segment Address']=traffic_data.apply(lambda x: x['Roadway Name'] + '-' + x['From'] + '-' + x['To'], axis = 1)

In [6]:
traffic_data.columns

Index(['Unnamed: 0', 'ID', 'Segment ID', 'Roadway Name', 'From', 'To',
       'Direction', 'Date', '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM', 'Start Intersection', 'End Intersection', 'Lat Start',
       'Lng Start', 'Lat End', 'Lng End', 'distance', 'Segment Address'],
      dtype='object')

In [7]:
columns_to_keep = ['ID', 'Segment ID', 'Roadway Name', 'From', 'To', 'Date', 'Start Intersection', 
                   'End Intersection', 'Lat Start', 'Lng Start', 'Lat End', 'Lng End', 'distance', 'Segment Address']

columns_to_average = ['12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM', '4:00-5:00AM', 
                      '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', 
                      '10:00-11:00AM', '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
                      '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM', 
                      '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']

In [8]:
traffic_data_out = traffic_data.groupby(by='Segment Address')[columns_to_average].mean()

In [9]:
traffic_data_out.reset_index(inplace = True)

In [10]:
traffic_data_out[columns_to_keep] = traffic_data[columns_to_keep]

In [11]:
traffic_data_out['Center Lat'] = traffic_data_out[['Lat Start','Lat End']].mean(axis=1)
traffic_data_out['Center Lng'] = traffic_data_out[['Lng Start','Lng End']].mean(axis=1)

In [12]:
traffic_data_out.head()

,Segment Address,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,3:00-4:00AM,4:00-5:00AM,5:00-6:00AM,6:00-7:00AM,7:00-8:00AM,8:00-9:00AM,...,Date,Start Intersection,End Intersection,Lat Start,Lng Start,Lat End,Lng End,distance,Center Lat,Center Lng
0,3 Avenue-East 154 Street-East 155 Street,979.111111,726.777778,532.222222,443.444444,453.000000,688.333333,823.777778,1053.222222,1114.444444,...,09/13/2014,3 Avenue East 154 Street,3 Avenue East 155 Street,40.818951,-73.914039,40.819544,-73.913528,0.048887,40.819247,-73.913783
1,3 Avenue-East 155 Street-East 154 Street,679.000000,592.333333,534.666667,409.000000,320.666667,317.111111,414.888889,501.333333,524.777778,...,09/13/2014,3 Avenue East 155 Street,3 Avenue East 154 Street,40.819544,-73.913528,40.818951,-73.914039,0.048887,40.819247,-73.913783
2,Bedford Park Boulevard-Grand Concourse-Valenti...,867.000000,621.777778,483.000000,402.333333,458.888889,524.777778,717.222222,1246.444444,1376.777778,...,09/13/2014,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,-73.888070,40.871298,-73.887010,0.081017,40.871725,-73.887540
3,Bedford Park Boulevard-Grand Concourse-Valenti...,1331.555556,1061.555556,861.000000,670.888889,565.333333,578.444444,978.444444,1455.000000,1470.222222,...,09/13/2014,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,-73.888070,40.871298,-73.887010,0.081017,40.871725,-73.887540
4,Broadway-West 242 Street-240 Street,965.666667,815.777778,620.888889,508.444444,568.111111,725.111111,1209.666667,1415.888889,1435.666667,...,09/13/2014,Broadway West 242 Street,Broadway 240 Street,40.889463,-73.898357,40.886528,-73.899683,0.214140,40.887996,-73.899020

In [13]:
rows_with_nan = traffic_data_out.isnull().any(axis =1)
traffic_data_out = traffic_data_out[~rows_with_nan]

In [14]:
traffic_data_out.shape

(1705, 40)

In [40]:
import datetime

def seperate_month_date(df):
    
    month_list = []
    year_list = []
    weekday_list = [] 
    day_name = []
    
    date = df['Date']

    
    for row in list(date):
        datee = datetime.datetime.strptime(row, "%m/%d/%Y")
        day_name.append(datetime.datetime.strftime(datee, "%A"))

        year_list.append(datee.year)
        month_list.append(datee.month)
        weekday_list.append(datee.weekday())
    
    df['year'] = year_list
    df['month'] = month_list
    df['weekday'] = weekday_list
    df['day name']  = day_name
    
    return df

In [41]:
seperate_month_date(traffic_data_out)

,Segment Address,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,3:00-4:00AM,4:00-5:00AM,5:00-6:00AM,6:00-7:00AM,7:00-8:00AM,8:00-9:00AM,...,Lng Start,Lat End,Lng End,distance,Center Lat,Center Lng,year,month,weekday,day name
0,3 Avenue-East 154 Street-East 155 Street,979.111111,726.777778,532.222222,443.444444,453.000000,688.333333,823.777778,1053.222222,1114.444444,...,-73.914039,40.819544,-73.913528,0.048887,40.819247,-73.913783,2014,9,5,Saturday
1,3 Avenue-East 155 Street-East 154 Street,679.000000,592.333333,534.666667,409.000000,320.666667,317.111111,414.888889,501.333333,524.777778,...,-73.913528,40.818951,-73.914039,0.048887,40.819247,-73.913783,2014,9,5,Saturday
2,Bedford Park Boulevard-Grand Concourse-Valenti...,867.000000,621.777778,483.000000,402.333333,458.888889,524.777778,717.222222,1246.444444,1376.777778,...,-73.888070,40.871298,-73.887010,0.081017,40.871725,-73.887540,2014,9,5,Saturday
3,Bedford Park Boulevard-Grand Concourse-Valenti...,1331.555556,1061.555556,861.000000,670.888889,565.333333,578.444444,978.444444,1455.000000,1470.222222,...,-73.888070,40.871298,-73.887010,0.081017,40.871725,-73.887540,2014,9,5,Saturday
4,Broadway-West 242 Street-240 Street,965.666667,815.777778,620.888889,508.444444,568.111111,725.111111,1209.666667,1415.888889,1435.666667,...,-73.898357,40.886528,-73.899683,0.214140,40.887996,-73.899020,2014,9,5,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1704,47 Avenue-190 Street-189 Street,70.500000,48.000000,26.777778,20.722222,25.500000,44.333333,121.111111,249.055556,291.055556,...,-73.789539,40.750919,-73.790438,0.049715,40.751033,-73.789988,2014,9,0,Monday
1705,94 Avenue-Van Wyck Expressway-138 Place,261.722222,137.388889,94.055556,88.277778,127.333333,201.888889,406.111111,491.888889,569.277778,...,-73.808281,40.697576,-73.811564,0.767005,40.692160,-73.809922,2014,9,0,Monday
1706,94 Avenue-Van Wyck Expressway-138 Place,231.166667,149.722222,128.333333,79.222222,94.777778,168.333333,306.611111,525.888889,626.444444,...,-73.808281,40.697576,-73.811564,0.767005,40.692160,-73.809922,2014,9,0,Monday
1707,120 Avenue-191 Street-192 Street,263.666667,159.722222,105.722222,93.166667,116.055556,170.611111,328.444444,437.888889,518.500000,...,-73.758024,40.688022,-73.756890,0.066061,40.687815,-73.757457,2014,9,0,Monday
1708,120 Avenue-191 Street-192 Street,96.888889,61.166667,41.833333,39.000000,45.722222,99.444444,280.555556,258.388889,314.611111,...,-73.758024,40.688022,-73.756890,0.066061,40.687815,-73.757457,2014,9,0,Monday

In [129]:
temp_traffic = traffic_data_out.copy()

In [47]:
temp_traffic.columns

Index(['Segment Address', '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM', 'ID', 'Segment ID', 'Roadway Name', 'From', 'To',
       'Date', 'Start Intersection', 'End Intersection', 'Lat Start',
       'Lng Start', 'Lat End', 'Lng End', 'distance', 'Center Lat',
       'Center Lng', 'year', 'month', 'weekday', 'day name'],
      dtype='object')

In [130]:
columns_to_keep = ['Segment Address', 'ID', 'Segment ID', 'Roadway Name', 'From', 'To',
       'Date', 'Start Intersection', 'End Intersection', 'Lat Start',
       'Lng Start', 'Lat End', 'Lng End', 'distance', 'Center Lat',
       'Center Lng', 'year', 'month', 'weekday', 'day name']

In [131]:
temp_traffic = temp_traffic.melt(id_vars=columns_to_keep, var_name='hour of day')

In [132]:
def convert_time_interval(df):
    
    time_day = []
    
    for i, row in df.iterrows():
        am_pm = row['hour of day'].split(':')[2][-2:]
        hour = row['hour of day'].split(':')[0]
        
        if am_pm == 'AM' and hour == '11':
            time_of_day = 23
        elif am_pm == 'PM' and hour == '11':
            time_of_day = 11
        elif am_pm == 'AM' and hour == '12':
            time_of_day = 0
        elif am_pm == 'PM' and hour == '12':
            time_of_day = hour
        elif am_pm == 'PM':
            time_of_day = int(hour) + 12
        else:
            time_of_day = hour
            
        time_day.append(time_of_day)
    
    df["time of day"] = time_day

In [133]:
convert_time_interval(temp_traffic)

In [134]:
temp_traffic['month'].unique()

array([ 9, 11,  2, 10], dtype=int64)

In [135]:
temp_traffic['time of day'].unique()

array([0, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 11, '12', 13,
       14, 15, 16, 17, 18, 19, 20, 21, 22, 23], dtype=object)

In [108]:
temp_traffic.head()

,Segment Address,ID,Segment ID,Roadway Name,From,To,Date,Start Intersection,End Intersection,Lat Start,...,distance,Center Lat,Center Lng,year,month,weekday,day name,hour of day,value,time of day
0,3 Avenue-East 154 Street-East 155 Street,2,70376,3 Avenue,East 154 Street,East 155 Street,09/13/2014,3 Avenue East 154 Street,3 Avenue East 155 Street,40.818951,...,0.048887,40.819247,-73.913783,2014,9,5,Saturday,12:00-1:00 AM,979.111111,0
1,3 Avenue-East 155 Street-East 154 Street,2,70376,3 Avenue,East 155 Street,East 154 Street,09/13/2014,3 Avenue East 155 Street,3 Avenue East 154 Street,40.819544,...,0.048887,40.819247,-73.913783,2014,9,5,Saturday,12:00-1:00 AM,679.000000,0
2,Bedford Park Boulevard-Grand Concourse-Valenti...,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,09/13/2014,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,...,0.081017,40.871725,-73.887540,2014,9,5,Saturday,12:00-1:00 AM,867.000000,0
3,Bedford Park Boulevard-Grand Concourse-Valenti...,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,09/13/2014,Bedford Park Boulevard Grand Concourse,Bedford Park Boulevard Valentine Avenue,40.872153,...,0.081017,40.871725,-73.887540,2014,9,5,Saturday,12:00-1:00 AM,1331.555556,0
4,Broadway-West 242 Street-240 Street,62,147673,Broadway,West 242 Street,240 Street,09/13/2014,Broadway West 242 Street,Broadway 240 Street,40.889463,...,0.214140,40.887996,-73.899020,2014,9,5,Saturday,12:00-1:00 AM,965.666667,0

In [149]:
grouped_traffic = temp_traffic.groupby(['Segment Address','Segment ID','Center Lat','Center Lng','time of day']).agg({'value':'mean'})

In [152]:
grouped_traffic.reset_index(inplace = True)

In [153]:
grouped_traffic.head()

,Segment Address,Segment ID,Center Lat,Center Lng,time of day,value
0,110 AVENUE-155 STREET-156 STREET,60160,40.691026,-73.794379,0,498.027778
1,110 AVENUE-155 STREET-156 STREET,60160,40.691026,-73.794379,11,814.361111
2,110 AVENUE-155 STREET-156 STREET,60160,40.691026,-73.794379,13,835.972222
3,110 AVENUE-155 STREET-156 STREET,60160,40.691026,-73.794379,14,871.500000
4,110 AVENUE-155 STREET-156 STREET,60160,40.691026,-73.794379,15,939.000000

In [ ]:
traffic_data_out['Segment Address'].nunique()

In [ ]:
traffic_data_out['Date'].nunique()

In [43]:
accident_data = pd.read_csv('NY_Accidents_June20.csv')

In [44]:
accident_data.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),...,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,acc_year,acc_month,acc_hr_day,new_date,day_name
0,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,False,Day,Day,Day,Day,2016,12,8,2016-12-01,Thursday
1,194420,A-194422,MapQuest,241.0,3,2016-12-01 08:49:35,2016-12-01 09:19:14,40.849579,-73.942314,1.13,...,False,Day,Day,Day,Day,2016,12,8,2016-12-01,Thursday
2,194473,A-194475,MapQuest,245.0,2,2016-12-01 12:08:26,2016-12-01 12:37:55,40.748028,-73.968170,0.01,...,False,Day,Day,Day,Day,2016,12,12,2016-12-01,Thursday
3,194538,A-194540,MapQuest,201.0,2,2016-12-02 05:19:11,2016-12-02 05:49:02,40.761723,-73.982803,0.01,...,False,Night,Night,Night,Night,2016,12,5,2016-12-02,Friday
4,194556,A-194558,MapQuest-Bing,241.0,2,2016-12-02 07:09:04,2016-12-02 07:38:36,40.782818,-73.943871,0.01,...,False,Day,Day,Day,Day,2016,12,7,2016-12-02,Friday

In [136]:
accident_data['acc_hr_day'].unique()

array([ 8, 12,  5,  7, 11, 18,  6, 13, 15, 20, 10, 16,  9, 19, 22, 14, 17,
        2,  4, 21,  0,  1, 23,  3], dtype=int64)

In [88]:
from scipy import spatial

In [89]:
def find_closest_node(accident_row, df):
    '''
    accident_row is one row containing accident data with ID, Start_Lat and Start_Lng
    df is the dataframe containing traffic flow with Center Lat and Center Lng
    df schema:
    - Segment Address
    - Center Lat
    - Center Lng
    '''
    
    df_coordinates = df[['Center Lat', 'Center Lng']]
    
    node_tree = spatial.KDTree(df_coordinates)

    distance_to_nearest_node, nearest_node_index = node_tree.query(node_row[['Start_Lat', 'Start_Lng']])
    nearest_node_ID = df.iloc[nearest_node_index][0]

    return nearest_node_ID, distance_to_nearest_node

In [90]:
column_name = ['ID','Start_Lat','Start_Lng']

nearest_id = []
nearest_id_distance = []

for row in accident_data.iterrows():
    node_row = row[1].get(column_name)
    flow_id, distance_to_grid_node = find_closest_node(node_row, traffic_data_out)
    nearest_id.append(flow_id)
    nearest_id_distance.append(distance_to_grid_node)

In [91]:
accident_data['Traffic Flow ID'] = nearest_id
accident_data['Distance to Traffic Flow']=nearest_id_distance

In [140]:
accident_data['Flow ID - hour'] = accident_data.apply(lambda x: x['Traffic Flow ID'] + '-' + str(x['acc_hr_day']) ,axis = 1 )

In [141]:
accident_data.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),...,Nautical_Twilight,Astronomical_Twilight,acc_year,acc_month,acc_hr_day,new_date,day_name,Traffic Flow ID,Distance to Traffic Flow,Flow ID - hour
0,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,Day,Day,2016,12,8,2016-12-01,Thursday,79 Street Transverse-5 Avenue-East Drive,0.011682,79 Street Transverse-5 Avenue-East Drive-8
1,194420,A-194422,MapQuest,241.0,3,2016-12-01 08:49:35,2016-12-01 09:19:14,40.849579,-73.942314,1.13,...,Day,Day,2016,12,8,2016-12-01,Thursday,Wadsworth Avenue-West 176 Street-West 175 Street,0.005776,Wadsworth Avenue-West 176 Street-West 175 Stre...
2,194473,A-194475,MapQuest,245.0,2,2016-12-01 12:08:26,2016-12-01 12:37:55,40.748028,-73.968170,0.01,...,Day,Day,2016,12,12,2016-12-01,Thursday,BQE-59 Place-59 Street,0.007049,BQE-59 Place-59 Street-12
3,194538,A-194540,MapQuest,201.0,2,2016-12-02 05:19:11,2016-12-02 05:49:02,40.761723,-73.982803,0.01,...,Night,Night,2016,12,5,2016-12-02,Friday,BQE-59 Place-59 Street,0.014843,BQE-59 Place-59 Street-5
4,194556,A-194558,MapQuest-Bing,241.0,2,2016-12-02 07:09:04,2016-12-02 07:38:36,40.782818,-73.943871,0.01,...,Day,Day,2016,12,7,2016-12-02,Friday,Park Avenue-East 99 Street-East 100 Street,0.009235,Park Avenue-East 99 Street-East 100 Street-7

In [154]:
grouped_traffic['Flow ID - hour'] = grouped_traffic.apply(lambda x: x['Segment Address'] + '-' + str(x['time of day']) ,axis = 1 )

In [157]:
traffic_accident_merged = accident_data.merge(grouped_traffic, how = 'left', left_on = 'Flow ID - hour', 
                                  right_on = 'Flow ID - hour')

In [156]:
del traffic_accident_merged

In [158]:
traffic_accident_merged.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),...,day_name,Traffic Flow ID,Distance to Traffic Flow,Flow ID - hour,Segment Address,Segment ID,Center Lat,Center Lng,time of day,value
0,194406,A-194408,MapQuest,201.0,2,2016-12-01 08:21:11,2016-12-01 08:50:48,40.770107,-73.957397,0.01,...,Thursday,79 Street Transverse-5 Avenue-East Drive,0.011682,79 Street Transverse-5 Avenue-East Drive-8,79 Street Transverse-5 Avenue-East Drive,115284,40.777947,-73.966057,8,687.027778
1,194420,A-194422,MapQuest,241.0,3,2016-12-01 08:49:35,2016-12-01 09:19:14,40.849579,-73.942314,1.13,...,Thursday,Wadsworth Avenue-West 176 Street-West 175 Street,0.005776,Wadsworth Avenue-West 176 Street-West 175 Stre...,Wadsworth Avenue-West 176 Street-West 175 Street,70947,40.846291,-73.937565,8,1716.117284
2,194473,A-194475,MapQuest,245.0,2,2016-12-01 12:08:26,2016-12-01 12:37:55,40.748028,-73.968170,0.01,...,Thursday,BQE-59 Place-59 Street,0.007049,BQE-59 Place-59 Street-12,BQE-59 Place-59 Street,144331,40.749004,-73.975152,12,490.000000
3,194538,A-194540,MapQuest,201.0,2,2016-12-02 05:19:11,2016-12-02 05:49:02,40.761723,-73.982803,0.01,...,Friday,BQE-59 Place-59 Street,0.014843,BQE-59 Place-59 Street-5,BQE-59 Place-59 Street,144331,40.749004,-73.975152,5,99.111111
4,194556,A-194558,MapQuest-Bing,241.0,2,2016-12-02 07:09:04,2016-12-02 07:38:36,40.782818,-73.943871,0.01,...,Friday,Park Avenue-East 99 Street-East 100 Street,0.009235,Park Avenue-East 99 Street-East 100 Street-7,Park Avenue-East 99 Street-East 100 Street,158778,40.788818,-73.950892,7,479.740741

In [159]:
traffic_accident_merged.to_excel('traffic_out.xlsx')